body {
    background-color: whitesmoke;
}
.container {
    width: 100%;
    overflow: hidden; 
}
#options tr td {
    width: 100%;
}
.settings {
    float: left;
    width: 400px;
    margin: 10px;
}
.drawarea{
    float: left;
}
.play{
    float: left;
    text-align: center;
    width: 25%;
}
.description {
    clear: both;
}
.wrap {
    white-space: pre-wrap;
}
table, th, td {
    border-collapse: collapse;
}
th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;  
}
select{
    width: 150px;
}
.button {
    font: 15px Arial;
    text-decoration: none;
    text-align: center;
    padding-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 5%;
    background: #0c5b7b;
    color: #FFF;
    width: 23%;
}